# Environments & Secrets
**/.env

# Logs
**/logs/
**/*.log

# Databases & State
**/redis/data/
**/*.rdb

# MkDocs compiled site
**/site/.git-credentials
*.pem
*.rsa
.git-credentials
*.pem
*.rsa
trivy-report*
